%h1 Hangman Games

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th ID
      %th Board
      %th Status
  %tbody
    - @games.each do |game|
      %tr
        %td= link_to game.id, game
        %td= game.board
        %td= "#{game.misses} / #{game.max_misses}"

= button_to "New Game", games_path, method: :post
